#root {
  height: 100vh;
}

.board {
  height: 100%;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.board .game {
  height: 35em;
  width: 35em;;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.game .cell {
  border: solid black 1px; 
}